In [2]:
print("hola mundo")

hola mundo

In [3]:
! git add .

In [6]:
! git commit -m "primer commit DG"
! git push

On branch main
Your branch is ahead of 'origin/main' by 1 commit.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean

To https://github.com/ronaldbailey/Proyecto-2---Ingenier-a-de-Datos-.git
   5c2e815..15fdd4d  main -> main

## Instalando bibliotecas necesarias

In [1]:
! pip install numpy

Collecting numpy
  Downloading numpy-1.24.2-cp311-cp311-win_amd64.whl (14.8 MB)
     ---------------------------------------- 14.8/14.8 MB 3.2 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.24.2

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
! pip install pandas

Collecting pandas
  Downloading pandas-2.0.0-cp311-cp311-win_amd64.whl (11.2 MB)
     ---------------------------------------- 11.2/11.2 MB 2.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\windows 10\documents\proyecto_final_daniel\.final\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ------------------------------------ 502.3/502.3 kB 750.2 kB/s eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ------------------------------------- 341.8/341.8 kB 98.7 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\windows 10\documents\proyecto_final_daniel\.final\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\windows 10\documents\proyecto_final_daniel\.final\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.0 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
! pip install boto3

Collecting boto3
  Downloading boto3-1.26.109-py3-none-any.whl (135 kB)
     ------------------------------------ 135.6/135.6 kB 382.2 kB/s eta 0:00:00
Collecting botocore<1.30.0,>=1.29.109
  Downloading botocore-1.29.109-py3-none-any.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 3.2 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ---------------------------------------- 79.6/79.6 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\windows 10\documents\proyecto_final_daniel\.final\lib\site-packages (from botocore<1.30.0,>=1.29.109->boto3) (2.8.2)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.15-py2.py3-none-any.whl (140 kB)
     -------------------------------------- 140.9/140.9 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\windows 10\documents\proyecto_final_daniel\.final\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.109->boto3) (1.16.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.109 botocore-1.29.109 jmespath-1.0.1 s3transfer-0.6.0 urllib3-1.26.15

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
! pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp311-cp311-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 2.2 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
! pip install configparser

Collecting configparser
  Downloading configparser-5.3.0-py3-none-any.whl (19 kB)
Installing collected packages: configparser
Successfully installed configparser-5.3.0

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
! git fetch
! git merge
! git add .
! git commit -m "formato readme"
! git push

Already up to date.

warning: in the working copy of 'Desarrollo_DG.ipynb', LF will be replaced by CRLF the next time Git touches it

[main 57efcce] formato readme
 2 files changed, 61 insertions(+), 14 deletions(-)

remote: Resolving deltas:   0% (0/3)
remote: Resolving deltas:  33% (1/3)
remote: Resolving deltas:  66% (2/3)
remote: Resolving deltas: 100% (3/3)
remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
To https://github.com/ronaldbailey/Proyecto-2---Ingenier-a-de-Datos-.git
   a5da871..57efcce  main -> main

In [11]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     -------------------------------------- 43.7/43.7 kB 429.5 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.9-cp311-cp311-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 2.7 MB/s eta 0:00:00
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp311-cp311-win_amd64.whl (192 kB)
     -------------------------------------- 192.5/192.5 kB 3.9 MB/s eta 0:00:00
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.9 typing-extensions-4.5.0

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 kB 1.0 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Importando bibliotecas

In [8]:
import pandas as pd
import numpy as np
import boto3
import psycopg2
import configparser

In [29]:
DB_USER="admincuentas2"
DB_NAME="cuentas"
DB_PASSWORD="cuentas2admin2023"
DB_PORT=3306
DB_HOST="cuentas2.clptjw9nvvtu.us-east-1.rds.amazonaws.com"

mysql_driver = "mysql+pymysql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DB_HOST, DB_PORT, DB_NAME)
print(mysql_driver)

mysql+pymysql://admincuentas2:cuentas2admin2023@cuentas2.clptjw9nvvtu.us-east-1.rds.amazonaws.com:3306/cuentas

In [31]:
data_tipo_transacciones = [
     {'id_tipo_transac': 85095, 'tipo_transaccion': 'Dep贸ito'}, 
     {'id_tipo_transac': 85098, 'tipo_transaccion': 'Retiro'},
     {'id_tipo_transac': 85194, 'tipo_transaccion': 'Transferencia'},
     {'id_tipo_transac': 85133, 'tipo_transaccion': 'Pago Prestamo'}
]
print(data_tipo_transacciones)

[{'id_tipo_transac': 85095, 'tipo_transaccion': 'Dep贸ito'}, {'id_tipo_transac': 85098, 'tipo_transaccion': 'Retiro'}, {'id_tipo_transac': 85194, 'tipo_transaccion': 'Transferencia'}, {'id_tipo_transac': 85133, 'tipo_transaccion': 'Pago Prestamo'}]

In [32]:
df_transaccion = pd.DataFrame(data_tipo_transacciones)
df_transaccion

   id_tipo_transac tipo_transaccion
0            85095          Dep贸ito
1            85098           Retiro
2            85194    Transferencia
3            85133    Pago Prestamo

In [35]:
response = df_transaccion.to_sql('tipo_transacciones',mysql_driver,index = False, if_exists ='append')
response

4

In [36]:
! git fetch
! git merge
! git add .
! git commit -m "prueba de subida datos aws/mysql/visual"
! git push

Already up to date.
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

Everything up-to-date

In [73]:
datos_crudos = pd.read_csv('../datos/cxc_cxp_bancos_el_rosario.csv',encoding= 'utf8')

datos_crudos

,Codigo_Cuenta,Cliente,Descripcion_Producto,Retencion,Bien_o_Servicio,Factura _o_Recibo,Total_Pagar,Impuesto,Total_Libre,Fecha_Estm_Pago,tipo_cuenta
0,1,Xenturi Global,manteles,0,Bien,64854FSEGS3182FS81,"Q2,890.00",Q332.48,"Q2,557.52",15/04/2023,libre
1,2,Xenturi Global,polos,0,Bien,64854FSEGS3182FS92,"Q3,260.00",Q375.04,"Q2,884.96",15/04/2023,libre
2,3,ALTSA,150 gorras chiquimulja,0,Bien,64854FSEGS3182FS103,"Q1,650.00",Q189.82,"Q1,460.18",12/04/2023,libre
3,4,Indellantas,200 gorras P.P. Cabal,0,Bien,64854FSEGS3182FS114,"Q2,000.00",Q230.09,"Q1,769.91",13/04/2023,libre
4,5,Bobalicius,polos blancas,0,Bien,64854FSEGS3182FS125,Q900.00,Q103.54,Q796.46,18/04/2023,libre
5,6,Profesor Abraham,camisas formales,0,Bien,64854FSEGS3182FS136,"Q3,105.00",Q357.21,"Q2,747.79",15/04/2023,libre
6,7,Colegio Santa Marta,camisas formales,0,Bien,64854FSEGS3182FS147,"Q1,000.00",Q115.04,Q884.96,15/04/2023,libre
7,8,interconsumo,chumpas y camisas,0,Bien,64854FSEGS3182FS158,"Q1,845.00",Q212.26,"Q1,632.74",12/04/2023,libre
8,9,colegio peque;os angeles,polos,0,Bien,64854FSEGS3182FS169,"Q1,300.00",Q149.56,"Q1,150.44",13/04/2023,libre
9,10,sennsa Studio,filipinas negras,0,Bien,64854FSEGS3182FS1710,"Q3,240.00",Q372.74,"Q2,867.26",18/04/2023,libre
10,11,yummy food,polos,0,Bien,64854FSEGS3182FS1811,"Q1,140.00",Q131.15,"Q1,008.85",15/04/2023,libre
11,12,Policia Militar 2 brigada,gorras,0,Bien,64854FSEGS3182FS1912,"Q3,775.00",Q434.29,"Q3,340.71",25/08/2023,libre
12,13,fricsergua,polos,0,Bien,64854FSEGS3182FS2013,"Q1,620.00",Q186.37,"Q1,433.63",13/04/2023,libre
13,14,El Rodeo,confeccion polos servicio,123,Servicio,64854FSEGS3182FS2114,"Q2,460.00",Q283.01,"Q2,176.99",18/04/2023,libre
14,15,UNBO,SERIGRAFIAS PNC,75,Servicio,64854FSEGS3182FS2215,"Q1,500.00",Q172.57,"Q1,327.43",15/04/2023,libre
15,16,UNBO,BORDADOS PNC,Q406.25,Servicio,64854FSEGS3182FS2316,"Q8,125.00",Q934.73,"Q7,190.27",25/08/2023,libre
16,17,Servicios Manducare,camisas formales,0,Bien,64854FSEGS3182FS2417,Q542.50,Q62.41,Q480.09,13/04/2023,libre
17,18,Recursos del Golfo,polos,0,Bien,64854FSEGS3182FS2518,"Q1,975.00",Q227.21,"Q1,747.79",18/04/2023,libre
18,19,Casa blanca,uniformes,0,Bien,64854FSEGS3182FS2619,"Q23,783.00","Q2,736.10","Q21,046.90",15/04/2023,libre
19,20,Hector Bistro,polos,0,Bien,64854FSEGS3182FS2720,"Q1,012.50",Q116.48,Q896.02,15/04/2023,libre
20,21,Arbol verde,chumpas de diario,0,Bien,64854FSEGS3182FS2821,"Q2,907.50",Q334.49,"Q2,573.01",12/04/2023,libre
21,22,Don Manuel Columbias,13 columbias,0,Bien,64854FSEGS3182FS2922,"Q1,755.00",Q201.90,"Q1,553.10",13/04/2023,libre
22,23,Pollo Campero,32 gorras papas pollo,120,Bien,64854FSEGS3182FS3023,"Q2,400.00",Q276.11,"Q2,123.89",18/04/2023,libre
23,24,Blessco,playeras,0,Bien,64854FSEGS3182FS3124,"Q1,550.00",Q178.32,"Q1,371.68",15/04/2023,libre
24,25,Cahabon escuela Arjona,camisas formales,0,Bien,64854FSEGS3182FS3225,"Q6,520.00",Q750.09,"Q5,769.91",15/04/2023,libre
25,26,Pollo Campero,camisas mantenimiento,0,Bien,64854FSEGS3182FS3326,"Q3,025.00",Q348.01,"Q2,676.99",12/04/2023,libre
26,27,Grupo Rolsa,Camisas manga larga,462.4,Bien,64854FSEGS3182FS3427,"Q9,248.00","Q1,063.93","Q8,184.07",13/04/2023,libre
27,28,Pollo Campero,26 columbias,0,Bien,64854FSEGS3182FS3528,"Q6,370.00",Q732.83,"Q5,637.17",18/04/2023,libre
28,29,Grupo Rolsa,camisas con broches,0,Bien,64854FSEGS3182FS3629,"Q3,776.00",Q434.41,"Q3,341.59",15/04/2023,libre
29,30,Trixo,pedido completo abirl,0,Bien,64854FSEGS3182FS3730,"Q9,968.50","Q1,146.82","Q8,821.68",25/08/2023,libre
30,31,david Guzman,bordados en prendas,0,Servicio,64854FSEGS3182FS3831,"Q5,885.00",Q677.04,"Q5,207.96",13/04/2023,extrafinanciamiento
31,32,La estancia,uniformes febrero,0,Bien,64854FSEGS3182FS3932,"Q16,068.00","Q1,848.53","Q14,219.47",18/04/2023,extrafinanciamiento
32,33,Pollo Campero,columbias tela importada,0,Bien,64854FSEGS3182FS4033,"Q3,574.00",Q411.17,"Q3,162.83",15/04/2023,extrafinanciamiento
33,34,Pollo Campero,columbias tela nacional,0,Bien,64854FSEGS3182FS4134,"Q1,470.00",Q169.12,"Q1,300.88",25/08/2023,extrafinanciamiento
34,35,Grupo Rolsa,camisas ADESA,0,Bien,64854FSEGS3182FS4235,"Q3,750.00",Q431.42,"Q3,318.58",13/04/2023,extrafinanciamiento
35,36,Transportes del Sol,camisas del sol,0,Bien,64854FSEGS3182FS4336,"Q6,300.00",Q724.78,"Q5,575.22",07/04/2023,extrafinanciamiento
36,37,Z Gas,1900 gorras marzo,450.36175,Bien,64854FSEGS3182FS4437,"Q28,025.00","Q3,224.12","Q24,800.88",08/04/2023,extrafinanciamiento
37,38,KIA,300 gorras febrero,91.599,Bien,64854FSEGS3182FS4538,"Q5,700.00",Q655.75,"Q5,044.25",01/04/2023,extrafinanciamiento
38,39,Eventos Shadai,camisas polo grises,0,Bien,64854FSEGS3182FS4639,"Q4,190.00",Q482.04,"Q3,707.96",16/04/2023,extrafinanciamiento
39,40,Il Pecieri,filipinas chef,0,Bien,64854FSEGS3182FS4740,"Q2,500.00",Q287.61,"Q2,212.39",25/08/2023,extrafinanciamiento
40,41,David Guzman,Confeccion Columbias,0,Servicio,64854FSEGS3182FS4841,"Q15,960.00","Q1,836.11","Q14,123.89",13/04/2023,capital
41,42,AMSTAFF,gorras,0,Bien,64854FSEGS3182FS4942,"Q4,500.00",Q517.70,"Q3,982.30",07/04/2023,capital
42,43,ALOHA,playeras y mochilas,0,Bien,64854FSEGS3182FS5043,"Q7,920.00",Q911.15,"Q7,008.85",08/04/2023,capital
43,44,DAITOM,primer pedido,0,Bien,64854FSEGS3182FS5144,"Q3,725.00",Q428.54,"Q3,296.46",01/04/2023,capital
44,45,UPANA,camisas columbias,0,Bien,64854FSEGS3182FS5245,"Q5,335.00",Q613.76,"Q4,721.24",16/04/2023,capital
45,46,DAITOM,pedido extra,0,Bien,64854FSEGS3182FS5346,"Q3,537.00",Q406.91,"Q3,130.09",18/04/2023,capital
46,47,Pollo Campero,gorras mantenimiento,0,Bien,64854FSEGS3182FS5447,Q900.00,Q103.54,Q796.46,15/04/2023,capital
47,48,General Safety Bordados,bordados,0,Bien,64854FSEGS3182FS5548,Q884.00,Q101.70,Q782.30,25/08/2023,capital
48,49,Agrosafari,camisas extras,0,Bien,64854FSEGS3182FS5649,Q542.50,Q62.41,Q480.09,13/04/2023,capital
49,50,Bejo Cancelacion,camisas columbias,139.69651,Bien,64854FSEGS3182FS5750,"Q8,693.00","Q1,000.08","Q7,692.92",20/04/2023,capital
50,51,Z gas,1900 gorras entrega abril,0,Bien,64854FSEGS3182FS5851,"Q28,025.00","Q3,224.12","Q24,800.88",23/04/2023,capital

In [74]:
# Insertar los datos en la tabla MySQL
datos_crudos.to_sql(name='nombre_tabla', con=mysql_driver, if_exists='replace', index=False)

ProgrammingError: (pymysql.err.ProgrammingError) (1166, "Incorrect column name 'Factura _o_Recibo '")
[SQL:
CREATE TABLE nombre_tabla (
	`Codigo_Cuenta` BIGINT,
	`Cliente` TEXT,
	`Descripcion_Producto` TEXT,
	`Retencion` TEXT,
	`Bien_o_Servicio` TEXT,
	`Factura _o_Recibo ` TEXT,
	`Total_Pagar` TEXT,
	`Impuesto ` TEXT,
	`Total_Libre ` TEXT,
	`Fecha_Estm_Pago` TEXT,
	tipo_cuenta TEXT
)

]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [75]:
! git fetch
! git merge
! git add .
! git commit -m "leyendo datos2"
! git push

Already up to date.
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

Everything up-to-date